---
title: About
description: Iffrit Studio delivers outstanding data expertise and machine learning magic.
image: ../images/brasero.jpg
image_credits: Picture by <a href="https://unsplash.com/fr/@profwicks?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Ben Wicks</a> (Unsplash)
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">The Story</h1>
			<p class="subtext editable">I created Iffrit Studio — and this site—to give my creative impulses a dedicated home beyond the constraints of day-to-day
			work. In a world of structured projects and deadlines, I craved a space to freely explore Gaming and RPG worlds, tinker with
			unconventional software ideas, and chase spontaneous design sparks without apology or expectation. This digital workshop
			captures those raw moments of inspiration and long sessions of work, turning fleeting thoughts into shareable artifacts that anyone curious about
			fantasy worlds, clever hacks, or joyful experimentation can discover and enjoy.</p>
		</div>
	</div>
	<div class="hero-image-credits">
		<p class="image-credits">
			{{ page.image_credits }}
		</p>
	</div>
</section>

<section class="pad">
	<div class="container">
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name">
						{% if person.github_username %}
						<a target="_blank" href="https://github.com/{{ person.github_username }}">{{ person.name }}</a>
						{% else %}
						{{ person.name }}
						{% endif %}
					</div>
					<div class="position">{{ person.position }}</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</section>
