---
title: Contact
description: Send us a message to find out more!
map:
latitude: 16.3269277
longitude: -61.7870635
address: "Grande Anse Beach, Deshaies, Guadeloupe"
zoom: 13
image: /images/contact.jpg
image_credits: Picture by <a href="https://unsplash.com/fr/@claybanks?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Clay Banks</a> (Unsplash)
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Get in touch today</h1>
			<p class="subtext editable">If you have any questions or queries send us a message and we will get back to
				you as soon as we can.</p>
		</div>
	</div>
	{% if page.image_credits %}
	<div class="hero-image-credits">
		<p class="image-credits">
			{{ page.image_credits }}
		</p>
	</div>
	{% endif %}
	<div class="learn-more"><a href="#contact-us">Contact us <span class="arrow">&#x25BC;</span></a></div>
</section>
<section class="pad">
	<div class="text-container contact-box" id="contact-us" class="contact-form">
		<form action="https://formspree.io/f/hello@iffrit.com" method="POST">
			<label for="name">Name</label>
			<input type="text" name="name">
			<label for="email">Email Address</label>
			<input type="email" name="_replyto">
			<label for="message">Message</label>
			<textarea name="message" id="message" placeholder="Enter your message..."></textarea>
			<input type="submit" value="Send">
		</form>
	</div>
</section>