    <!-- Hero Section
    ================================================== -->

    <header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
      <div class="container">
        <h1 class="display-3">Iffrit. Data.Concept.Studio</h1>
        <h2 class="m-b-3">Craft your journey with the <a href="ui-elements.html" class="jumbolink">Iffrit</a>.</h2>
        <a class="btn btn-secondary-outline m-b-1" href="http://tympanus.net/codrops/?p=25217" role="button"><span class="icon-thunderbolt"></span>Get Started</a>
        <ul class="nav nav-inline social-share">
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-twitter"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-facebook"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-linkedin"></span></a></li>
        </ul>
      </div>
    </header>