    <!-- Hero Section
    ================================================== -->

    <header class="jumbotron bg-inverse text-xs-center center-vertically" role="banner">
      <div class="container">
        <h1 class="display-3">Iffrit Data Studio</h1>
        <h2 class="m-b-3">Craft your journey with the Iffrit.</h2>
        <a class="btn btn-secondary-outline m-b-1" href="mailto:hello@iffrit.com" role="button"><span class="icon-thunderbolt"></span>Contact us</a>
        <ul class="nav nav-inline social-share">
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-twitter"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-facebook"></span></a></li>
          <li class="nav-item"><a class="nav-link" href="#"><span class="icon-linkedin"></span></a></li>
        </ul>
      </div>
    </header>